<div class="container py-5">

  <!-- Header -->
  <div class="header mb-4">

    <div>
      <h1 class="fw-bold text-white">
        <i class="bi bi-check2-square"></i>
        Task Manager
      </h1>

      <p class="text-light mb-0">
        Organize your daily work efficiently
      </p>
    </div>

    <button
      class="btn btn-light"
      (click)="logout()">
      <i class="bi bi-box-arrow-right"></i>
      Logout
    </button>

  </div>

  <!-- Statistics -->
  <div class="row mb-4">

    <div class="col-md-4">

      <div class="stat-card blue">

        <h5>Total Tasks</h5>

        <h2>{{tasks.length}}</h2>

      </div>

    </div>

    <div class="col-md-4">

      <div class="stat-card green">

        <h5>Completed</h5>

        <h2>{{ completedCount }}</h2>

      </div>

    </div>

    <div class="col-md-4">

      <div class="stat-card orange">

        <h5>Pending</h5>

        <h2>{{ pendingCount }}</h2>

      </div>

    </div>

  </div>

  <!-- Search -->
  <input
      class="form-control mb-4"
      placeholder="🔍 Search tasks">

  <!-- Add Task -->

  <div class="card shadow-lg mb-4">

    <div class="card-body">

      <h4>Add Task</h4>

      <input
        class="form-control mb-3"
        placeholder="Task title"
        [(ngModel)]="newTask.title">

      <textarea
        class="form-control mb-3"
        rows="3"
        placeholder="Description"
        [(ngModel)]="newTask.description">
      </textarea>

      <button
        class="btn btn-primary w-100"
        (click)="addTask()">

        <i class="bi bi-plus-circle"></i>

        Add Task

      </button>

    </div>

  </div>

  <!-- Task Cards -->

  <div
      *ngFor="let task of tasks"
      class="card task-card shadow-sm mb-3">

    <div class="card-body">

      <div *ngIf="editingId!==task._id">

        <div class="d-flex justify-content-between">

          <h4>

            <span
            [class.completed]="task.done">

            {{task.title}}

            </span>

          </h4>

          <span
          class="badge bg-success"
          *ngIf="task.done">

          Completed

          </span>

          <span
          class="badge bg-warning text-dark"
          *ngIf="!task.done">

          Pending

          </span>
          

        </div>

        <p class="text-muted">

          {{task.description}}

        </p>

       <button
  class="btn btn-success btn-sm me-2"
  (click)="toggleDone(task)">

  <i class="bi"
     [ngClass]="task.done ? 'bi-arrow-counterclockwise' : 'bi-check-circle'">
  </i>

  {{ task.done ? 'Pending' : 'Complete' }}

</button>

<button
  class="btn btn-warning btn-sm me-2"
  (click)="editTask(task)">

  <i class="bi bi-pencil"></i>

</button>

<button
  class="btn btn-danger btn-sm"
  (click)="deleteTask(task._id)">

  <i class="bi bi-trash"></i>

</button>

      </div>

      <div *ngIf="editingId===task._id">

        <input
          class="form-control mb-3"
          [(ngModel)]="editingTitle">

        <textarea
          class="form-control mb-3"
          [(ngModel)]="editingDescription">
        </textarea>

        <button
          class="btn btn-success me-2"
          (click)="saveTask()">

          Save

        </button>

        <button
          class="btn btn-secondary"
          (click)="editingId=''">

          Cancel

        </button>
        

      </div>

    </div>

  </div>

</div>